.collapsingButton{
    /* background: rgb(61, 65, 54); */
    /* background-color: #6ea7ce; */
    border-bottom: 1px solid rgb(117, 117, 117);

}
.collapsibleContentMobile{
    background: yellowgreen;
    /* display: none;
    overflow: hidden; */
}

.active{
    background-color: #6ea7ce;
    /* background-color: #555555; */
}


.CollapseWidth{
    width: 0;
    transition-duration: 2s;
}